<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="static/map/js/lib/jquery.js"></script>
    <script src="static/map/js/lib/bootstrap.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="static/map/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="static/map/css/landing.css"/>
    <title>Студенческий парк ДГТУ</title>
</head>
<body>
<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand scroll" href="#first-page">Парк ДГТУ</a>
    <div>
        <a class="navbar-brand scroll" href="#second-page">Описание</a>
        <a class="navbar-brand scroll" href="#about">О нас</a>
    </div>
</nav>
<div id="first-page">
    <div id="first-page-image">
        <div id="header">
            <h1>Студенческий парк ДГТУ им. Л.В. Красниченко</h1>
        </div>
        <div id="first-page-text">
            <p>Парк был высажен учащейся молодежью Ростова в 1910 году. В предвоенные годы и до 1947 года парк назывался
                «Андреевская роща». Этот парк в годы перед Великой Отечественной войной был любимым местом отдыха
                ростовчан. Главный вход в него был расположен со стороны Ворошиловского проспекта, там, где сейчас
                находится вход в главный корпус ДГТУ. Парк переименовывался несколько раз и в 2008 году получил имя,
                которое он носит и в настоящее время – парк ДГТУ имени Леонида Васильевича Красниченко.</p>
        </div>
    </div>
</div>

<div id="second-page">
    <div id="second-page-text">
        <p>На территории парка расположены учебные корпуса университета, студенческие общежития, спортивные площадки и
            манеж. Центральные аллеи заасфальтированы и в ночное время освещены. Прогуливаясь по парку можно увидеть
            много
            голубей, воробьев и других "городских" птиц около специально оборудованных кормушек. На деревьях также можно
            увидеть пушистых белок. В центре парка установлен (8.05.1982) памятник преподавателям, сотрудникам и
            студентам
            Ростовского машиностроительного института, защитившим Родину в годы Великой отечественной войны. Почти
            напротив
            памятника строится Храм святой мученицы Татьяны. Парк не имеет четких границ и неогорожен, но зато
            достаточно
            ухожен: вдоль центральных аллей установлены урны и скамеечки, деревья и кустарники подстрижены. Около
            учебных
            корпусов можно увидеть красивые клумбы с элементами ландшафтного дизайна. Средний возраст деревьев
            составляет
            около 35 лет, поэтому в летнюю городскую жару можно укрыться в тени парка. А для малышей есть детская
            площадка с
            турниками и шведской стенкой. На территории парка расположено большое футбольное поле с земляным покрытием и
            маленькая хорошо оборудованная спортплощадка университета. В теплое время года в парке со студентами
            проводятся
            занятия по физкультуре и геодезии.</p>
        <div style="text-align: center">
            <a class="btn btn-lg btn-outline-light" href="openmap">На карту</a>
        </div>
    </div>
</div>


<div id="about">
    <div id="divider"></div>
    <div id="about-text">
        <p>Студенческий парк Донского государственного технического университета им. Л.В. Красниченко.
            <br>
            Располагается около границы Ворошиловского и Кировского районов Ростова-на-Дону.
            <br>
            Адрес: г.
            Ростов-На-Дону, пл. Гагарина, 1</p>
    </div>
</div>

<script>
    $(".scroll").click(function (event) {
        event.preventDefault();
        $('html,body').animate({scrollTop: $(this.hash).offset().top}, 500);
    });
</script>
</body>
</html>