<!DOCTYPE html>
<html lang="en" xmlns:style="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/map/css/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="static/map/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="static/map/css/map.css"/>
    <link rel="stylesheet" type="text/css" href="static/map/css/L.Control.MousePosition.css"/>
    <link rel="stylesheet" type="text/css" href="static/map/css/leaflet-measure.css"/>
    <script src="static/map/lib/underscore.js"></script>
    <script src="static/map/lib/jquery.js"></script>
    <script src="static/map/lib/backbone.js"></script>
    <script src="static/map/lib/backbone.radio.js"></script>
    <script src="static/map/lib/backbone.marionette.js"></script>
    <script src="static/map/lib/bootstrap.bundle.js"></script>
    <script src="static/map/lib/leaflet.js"></script>
    <script src="static/map/lib/leaflet-measure.js"></script>
    <script src="static/map/lib/L.Control.MousePosition.js"></script>
    <title>Карта</title>
</head>

<body>
<div id="container">
    <div id="mapid">
    </div>
    <div id="objects">
    </div>
</div>


<!--Templates-->
<script id="obj-list-template" type="x-template/underscore">
    <div id="obj-list">
    </div>
</script>

<script id="object-card-template" type="x-template/underscore">
    <div id="object-card" class="card" style="width: 15rem;">
        <div class="card-header">
            <p><%= name %></p>
        </div>
        <div id="card-<%= id %>" class="card-body collapse">
            <p><%= description %></p>
        </div>
    </div>
</script>

<script id="popup-text-template" type="x-template/underscore">
    <p style="font-weight:900"><%= name %></p>
    <p><%= description %></p>
</script>

<!--Script-->
<script src="static/map/js/app.js"></script>

</body>

</html>

