<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/map/css/ol.css"/>
    <link rel="stylesheet" type="text/css" href="static/map/css/open_map.css"/>
    <link rel="stylesheet" type="text/css" href="static/map/css/bootstrap.css"/>
    <script src="static/map/lib/underscore.js"></script>
    <script src="static/map/lib/jquery.js"></script>
    <script src="static/map/lib/backbone.js"></script>
    <script src="static/map/lib/backbone.radio.js"></script>
    <script src="static/map/lib/backbone.marionette.js"></script>
    <script src="static/map/lib/bootstrap.bundle.js"></script>
    <script src="static/map/lib/ol.js"></script>

    <title>Map</title>
</head>
<body>
<div id="container">
    <div id="map" class="map"></div>
    <div id="objects">
        <div id="search">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="search-icon "></span>
                    </div>
                </div>
                <input type="text" class="form-control" id="search-field" placeholder="Поиск">
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div id="add-element" class="card-header">
                Добавить элемент
            </div>
            <div id="add-element-card" class="card-body collapse">
                <form id="element-form">
                    <div>
                        <label for="add-name">Имя</label><br>
                        <input type="text" id="add-name" required>
                    </div>
                    <div>
                        <label for="add-description">Описание</label>
                        <input type="text" id="add-description" required>
                    </div>
                    <div>
                        <label for="add-point-lat">Широта</label>
                        <input type="text" id="add-point-lat" required>
                        <label for="add-point-lon">Долгота</label>
                        <input type="text" id="add-point-lon" required>
                        <label>(Берутся из точки на карте)</label>
                    </div>
                    <br>
                    <button id="add-button" type="submit">Добавить</button>
                </form>
            </div>
        </div>
        <div id="inner-objects">

        </div>
    </div>
</div>

<!--Templates-->
<script id="obj-list-template" type="x-template/underscore">
    <div id="obj-list">
    </div>
</script>

<script id="object-card-template" type="x-template/underscore">
    <div id="object-card" class="card" style="width: 15rem;">
        <div class="card-header">
            <%= name %>
        </div>

        <div id="card-<%= id %>" class="card-body collapse">
            <%= description %>
        </div>
        <div id="card-footer-<%= id %>" class="card-footer collapse">
            <button class="btn btn-sm btn-outline-danger float-right">
                Удалить
            </button>
            <button class="btn btn-sm btn-outline-primary float-left">
                Изменить
            </button>
        </div>
    </div>
</script>

<script id="popup-text-template" type="x-template/underscore">
    <p style="font-weight:900"><%= name %></p>
    <p><%= description %></p>
</script>

<!--Script-->
<script src="static/map/js/openlayers_map.js"></script>

</body>
</html>