<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/map/css/ol.css"/>
    <link rel="stylesheet" type="text/css" href="static/map/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="static/map/css/main.css"/>

    <title>Map</title>
</head>
<body>
<div id="container" class="fullScreen">

</div>

<!--Templates-->
<script id="popup-text-template" type="x-template/underscore">
    <p style="font-weight:900"><%= name %></p>
    <p><%= description %></p>
</script>
<!--Script
<script src="static/map/js/openlayers_map.js"></script>

-->
<script data-main='static/map/main.js' src="static/map/require.js"></script>

</body>
</html>
